/* Reset */
html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Body */
body{
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

/* Header */
header{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Website Name */
header h1{
    font-size:30px;
}

/* Navigation */
nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:18px;
}

nav a:hover{
    color:yellow;
    transition:0.3s;
}

/* All Sections */
section{
    padding:60px;
}

/* Home */
#home{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#100994,#9333ea);
    color:white;
}

#home h2{
    font-size:40px;
    margin-bottom:20px;
}

#home p{
    font-size:20px;
    margin-bottom:10px;
}

#home button{
    margin-top:20px;
    padding:12px 25px;
    font-size:18px;
    cursor:pointer;
    border:none;
    background:#222;
    color:white;
    transition:0.3s;
}

#home button:hover{
    background:green;
}

/* About, Skills, Projects, Resume, Contact */
h2{
    margin-bottom:20px;
}

/* Skills */
ul{
    margin-left:25px;
}

/* Projects */
#projects div{
    background:white;
    margin:20px 0;
    padding:20px;
    border-radius:10px;
}

/* Contact Form */
input,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
}

form button{
    background:#222;
    color:white;
    padding:10px 20px;
    border:none;
    cursor:pointer;
}

form button:hover{
    background:green;
}

.project-card{
    background:white;
    padding:25px;
    margin:25px 0;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.project-card:hover{
    transform:translateY(-8px);
    transition:0.3s;
}

.project-card h3{
    margin-bottom:15px;
}

.project-card p{
    margin-bottom:20px;
}

.project-card button{
    background:#008000;
    color:white;
    padding:10px 20px;
    border:none;
    cursor:pointer;
    border-radius:5px;
    transition:0.3s;
}

.project-card button:hover{
    background:green;
}
.resume-btn{
    background:#008000;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-top:20px;
    font-size:16px;
    transition:0.3s;
}

.resume-btn:hover{
    background:green;
}

#resume{
    text-align:center;
}

#resume p{
    margin:20px 0;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
    font-size:18px;
}
@media(max-width:768px){

header{
        flex-direction:column;
        padding:20px;
}

nav{
        margin-top:15px;
}

nav a{
        display:block;
        margin:10px 0;
}

section{
        padding:30px;
}

#home h2{
        font-size:30px;
}

#home p{
        width:100%;
}

.profile-img{
        width:150px;
        height:150px;
}

}